<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ApplicationController</servlet-name>
        <servlet-class>controller.ApplicationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EventoController</servlet-name>
        <servlet-class>controller.EventoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InstrutorController</servlet-name>
        <servlet-class>controller.InstrutorController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ApplicationController</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>controller.AdminController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/AdminController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UsuarioController</servlet-name>
        <servlet-class>controller.UsuarioController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsuarioController</servlet-name>
        <url-pattern>/UsuarioController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AlunoController</servlet-name>
        <servlet-class>controller.AlunoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AlunoController</servlet-name>
        <url-pattern>/AlunoController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdmAlunoController</servlet-name>
        <servlet-class>controller.AdmAlunoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdmAlunoController</servlet-name>
        <url-pattern>/AdmAlunoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EventoController</servlet-name>
        <url-pattern>/EventoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InstrutorController</servlet-name>
        <url-pattern>/InstrutorController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
